<div *ngIf="repos.length > 0" class="mb-4">
    <h2 class="text-lg font-bold">{{ repos.length }} Repositories</h2>
    
    <ul>
      <li *ngFor="let repo of repos" class="mt-2">
        <h2>{{repo.owner.login}}</h2><br>
        <a href="{{ repo.html_url }}" target="_blank" class="text-blue-500 hover:underline">{{ repo.name }}</a><br>
        <h3>{{ repo.description }}</h3>
        <a href="{{ repo.html_url }}" target="_blank" class="text-blue-500 hover:underline">{{ repo.language }}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="repos.length === 0">
    <p class="text-red-500">No repositories found for {{ username }}</p>
  </div>
  