<div class="grid h-screen place-items-center">
  <div class="font-bold text-3xl text-center">Fyle Internship Challenge</div>

  <!-- Search bar -->
  <div class="mt-1 flex justify-center items-center">
    <input type="text" placeholder="Enter GitHub username" #usernameInput
           class="border border-gray-300 rounded-l px-4 py-2 focus:outline-none" />
    <button (click)="searchUser(usernameInput.value ? usernameInput.value : '')"
            class="bg-blue-500 hover:bg-blue-600 text-white rounded-r px-4 py-2">
      Search
    </button>
  </div>

  <!-- User Repos with Pagination -->
  <app-user-repos
    *ngIf="searchedUser"
    [username]="searchedUser"
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
    class="mt-8 border border-gray-300 rounded px-4 py-2">
  </app-user-repos>



  

  <!-- Clear Search Button -->
  <button *ngIf="searchedUser" (click)="clearSearch()" class="mt-4">Clear Search</button>
</div>
